.back-img{
  
    background-image: url("https://wallpapercave.com/wp/wp3099553.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  .form-container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border: 1px solid green;
  }
  
  .form{
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.322);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  #form-heading{
    padding-top: 20px;
    font-size: 40px;
    color: red;
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;
    text-shadow:4px 4px black;
  }
  
  .input-box{
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 36px;
    width:100%;
    background-color: white;
  }
  
  
  .input-container{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left :80px;
  
  }
  
  #btn-submit{
    background-color:red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom:15px;
    color: white;
    font-size: 20px;
  }
  
  ::placeholder{
    color:black;
    text-align: center;
    opacity: 0.7;
  }
  
  /* responsive */
  @media screen and (max-width:480px) {
    .form{
      max-width: 400px;
      margin-top: 30px;
    }
  
    #form-heading{
      padding-top: 20px;
      font-size: 30px;
    }
  
    .input-box{
      font-size: 18px;
      padding-bottom: 12px;
      margin-bottom: 24px;
      
    }
  
    .input-container{
      padding-top: 40px;
      padding-bottom: 30px;
      padding-right: 60px;
      padding-left :60px;
    
    }
  
    #btn-submit{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom:12px;
      
    }
  }
  
  